In [1]:
import pymysql
import pandas as pd
db_name = "pizza"
db_host = "localhost"
db_username = "root"
db_password = "Weak"

try:
    conn = pymysql.connect(host = db_host,
                           port = int(3306),
                           user = "root",
                           password = db_password,
                           db = db_name)
except e:
    print (e)
if conn:
    print ("connection successful")
else:
        print ("error")

connection successful

In [2]:
person = pd.read_sql_query("SELECT * FROM person", conn)
customer = pd.read_sql_query("SELECT * FROM customer", conn)
topping = pd.read_sql_query("SELECT * FROM topping", conn)

C:\Users\prett\AppData\Local\Temp\ipykernel_34912\178057161.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  person = pd.read_sql_query("SELECT * FROM person", conn)
C:\Users\prett\AppData\Local\Temp\ipykernel_34912\178057161.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  customer = pd.read_sql_query("SELECT * FROM customer", conn)
C:\Users\prett\AppData\Local\Temp\ipykernel_34912\178057161.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  topping = pd.read_sql_query("SELECT * FROM topping", conn)

In [3]:
name = input("Enter username:")
password = input("Enter password:")
check_name = person["username"] == name
check_password = person["password"] == password
check_account = person[check_name & check_password]
check_account
if len(check_account) != 0:
    print("Welcome back!")
    abstains = customer[customer["username"] == name]
    dfr = pd.read_sql_query("SELECT foodName FROM topping WHERE NOT EXISTS (SELECT abstain FROM customer WHERE (topping.allergen=customer.abstain OR topping.foodType=customer.abstain OR topping.foodGroup=customer.abstain) AND username='"+name+"')", conn)
else:
    print("Wrong")

Enter username:rsklein
Enter password:idontknow
Welcome back!

C:\Users\prett\AppData\Local\Temp\ipykernel_34912\2417439377.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfr = pd.read_sql_query("SELECT foodName FROM topping WHERE NOT EXISTS (SELECT abstain FROM customer WHERE (topping.allergen=customer.abstain OR topping.foodType=customer.abstain OR topping.foodGroup=customer.abstain) AND username='"+name+"')", conn)

In [4]:
abstains

  username   category abstain
2  rsklein  foodGroup   Fruit
3  rsklein   foodType    Pork

In [5]:
print("All toppings")
topping

All toppings

                    foodName  foodGroup foodType allergen
0                        Ham       Meat     Pork     None
1                       Beef       Meat     Beef     None
2                     Salami       Meat     Pork     None
3                  Pepperoni       Meat     Pork     None
4            Italian Sausage       Meat     Pork     None
5            Premium Chicken       Meat  Chicken     Milk
6                      Bacon       Meat     Pork     None
7               Philly Steak       Meat     Beef      Soy
8          Hot Buffalo Sauce      Sauce    Sauce     None
9           Jalapeno Peppers  Vegetable   Pepper     None
10                    Onions  Vegetable     None     None
11            Banana Peppers  Vegetable   Pepper     None
12            Diced Tomatoes  Vegetable     None     None
13              Black Olives  Vegetable     None     None
14                 Mushrooms  Vegetable     None     None
15                 Pineapple      Fruit     None     None
16        Shredded Provolone      Dairy   Cheese     Milk
17      Cheddar Cheese Blend      Dairy   Cheese     Milk
18                      Feta      Dairy   Cheese     Milk
19  Shredded Parmesan Asiago      Dairy   Cheese     Milk
20             Green Peppers  Vegetable   Pepper     None
21                   Spinach  Vegetable     None     None

In [6]:
print("Your toppings")
dfr

Your toppings

                    foodName
0                       Beef
1            Premium Chicken
2               Philly Steak
3          Hot Buffalo Sauce
4           Jalapeno Peppers
5                     Onions
6             Banana Peppers
7             Diced Tomatoes
8               Black Olives
9                  Mushrooms
10        Shredded Provolone
11      Cheddar Cheese Blend
12                      Feta
13  Shredded Parmesan Asiago
14             Green Peppers
15                   Spinach

In [7]:
num = input("How many toppings? ")
dfr = dfr.sample(frac = 1)
new = dfr.head(int(num))
print("Toppings")
print(new)

How many toppings? 4
Toppings
                    foodName
0                       Beef
13  Shredded Parmesan Asiago
1            Premium Chicken
15                   Spinach